<div class="d-flex">
  <!--編集する画像-->
  <div class="bg-dark col-sm-9 column-img p-0">
    <li class="list-unstyled image show-img"><%= image_tag(@snap.image.url) %></li>
  </div>
  
  <!--編集フォーム-->
  <div class="col-sm-3 p-3">
    <%= form_with(model: @snap) do |f| %>
  
      <%= render "layouts/error_messages", model: f.object %>
    
      <div class="mt-5">
        <div class="input-border">
                
          <div class="snap-input">
            <%= f.label :title, "Title" %>
            <%= f.text_field :title, class: "form-control" %>
          </div>
                
          <div class="snap-input">
            <%= f.label :category, "Category" %>
            <%= f.collection_select(:category_id, Category.all, :id, :name) %>
          </div>
                
          <div class="snap-input">
            <%= f.label :description, "Description" %>
            <%= f.text_area :description, class: "form-control text-area-height" %>
          </div>
                
        </div>
                
        <div class="pt-2" id="snap-input">
          <%= f.submit "Update", class: "btn btn-dark rounded-pill w-100" %>
        </div>
        
        <!--削除ボタン-->
        <div class="pt-5" id="snap-input">
          <%= link_to "Delete", snap_path(@snap), method: :delete, class: "btn btn-danger rounded-pill w-100" %>
        </div>
      </div>
    <% end %>
  </div>
</div>