<div class="d-flex">
  
  <!--選択した画像-->
    <li class="list-unstyled bg-dark two-thirds-view show-img">
      <%= image_tag(@snap.image.url) %>
    </li>
  
  <!--画像の情報・コメント-->
  <div class="one-third-view p-5">
    
    <!--画像を投稿したユーザ-->
    <h1 class="mb-2"><i class="fa-solid fa-circle-user"></i> <%= link_to @snap.user.name, user_path(@snap.user), class: "link-border" %></h1>
    <!--お気に入りの数-->
    <h4 class="mb-2"><i class="fa-solid fa-star"></i> Favorite <%= @count_favorite %></h4>
    
    <!--編集ページへのリンク-->
    <% if logged_in? && current_user.id == @snap.user.id %>
    <h3 class="text-end"><%= link_to "Edit item", edit_snap_path(@snap), class: "link-border" %></h3>
    <% end %>
    
    <!--画像の説明-->
    <h2 class="mt-3">Description</h2>
    <h4 class="show-border mb-4"><%= simple_format(h(@snap.description),{}, wrapper_tag: "div") %></h4>
    
    <!--お気に入りボタン・コメントフォーム-->
    <div class="fav-comment">
    
      <% if logged_in? %>
        <div class="mb-4">
          <% if logged_in? %>
            <!--削除ボタン-->
            <% if current_user.favorite?(@snap) %>
              <%= form_with(model: current_user.favorite_relationships.find_by(snap_id: @snap.id), method: :delete) do |f| %>
                <%= hidden_field_tag :snap_id, @snap.id %>
                <%= f.submit "Unfavorite", class: "btn btn-danger rounded-pill w-100" %>
              <% end %>
              <!--登録ボタン-->
            <% else %>
              <%= form_with(model: current_user.favorite_relationships.build) do |f| %>
                <%= hidden_field_tag :snap_id, @snap.id %>
                <%= f.submit "favorite", class: "btn btn-primary rounded-pill w-100" %>
              <% end %>
            <% end %>
          <% end %>
        </div>
        
        <!--コメント投稿-->
        <div class="mb-2">
          <%= form_with(model: [@snap, @comment]) do |f| %>
            <div class="d-flex">
            <%= f.text_area :content, class: "form-control text-area-height", placeholder: "add comment" %>
            <%= f.hidden_field :snap_id, value: @snap.id %>
            <%= f.submit "Add", class: "btn btn-dark text-area-height ms-2" %>
            </div>
          <% end %>
        </div>
      <% end %>
      
      <!--コメント一覧-->
      <h4>Comments</h4>
      <div class="border p-2 comment-box" style="overflow-y: scroll;">
        <!--コメント0-->
        <% if @comments.count == 0 %>
          <li class="list-unstyled">no comment</li>
        <% end %>
        <!--コメント1以上-->
        <% @comments.each do |comment| %>
          <li class="list-unstyled show-border mt-3 mb-3">
            <i class="fa-solid fa-circle-user"></i> <span><%= comment.user.name %></span> <div class="border p-1 m-1 comment"><%= simple_format(h(comment.content),{}, wrapper_tag: "div") %></div>
            <!--コメント削除ボタン-->
            <div class="text-end">
              <% if logged_in? && current_user.id == comment.user.id %>
                <%= link_to "Delete", comment_path(comment), method: :delete %>
              <% end %>
            </div>
          </li>
        <% end %>
      </div>
      
      <% unless logged_in? %>
        <%= link_to "Sign in add to comment", login_path, class: "btn btn-dark w-100 mt-3" %>
        <p class="pb-5">New user? <%= link_to "Sign up now!", signup_path %></p>
      <% end %>
    
    </div>
    
  </div>
  
</div>